<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h2> Maqolalar </h2>

    {% for slug, article in articles.items() %}
        <a href="/blog/{{ slug }}"> {{ article.title }} </a><br>

    {% endfor %}
</body>
</html>


<!-- <!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
</head>
<body>
    <h1>Blog</h1>
    {% for slug, article in articles.items() %}
        <div>
            <h2>{{ article.title }}</h2>
            <p>{{ article.content }}</p>
            <a href="{{ url_for('article', slug=slug) }}">Read more</a>
        </div>
    {% endfor %}
</body>
</html> -->
